
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class=" flex-sm-fills text-sm-center nav-link active" routerLink=''>Home</a>
    <a class=" flex-sm-fills text-sm-center nav-link" routerLink='bookform'>CreateBook</a> 
    <a class=" flex-sm-fills text-sm-center nav-link" routerLink='signup'> SignUp</a>
    <a class=" flex-sm-fills text-sm-center nav-link" routerLink='signin'> SignIn</a>
    <a class=" flex-sm-fills text-sm-center nav-link" routerLink='search'> Search Book</a>
    <a class=" flex-sm-fills text-sm-center nav-link" routerLink='updateBook'> Update Book</a>
    <a class=" flex-sm-fills text-sm-center nav-link" routerLink='buyBooks'> BuyBooks</a>
    <a class=" flex-sm-fills text-sm-center nav-link" routerLink='refund'> Refund</a>
</nav>